.intro {
  align-self: flex-start;
  max-width: 49.5em;
  margin-top: 5.75em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
.intro__title {
  font-family: "Inter-bold", "Arial", sans-serif;
  font-size: 3.6em;
  line-height: 1;
  max-width: 49em;
  padding-bottom: 3.3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  align-self: flex-start;
}
.intro__subtitle {
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.5;
  padding-bottom: 0.6rem;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 28em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  align-self: flex-start;
}
.intro__quote {
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.5;
  max-width: 30em;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
}
.intro__footer {
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  max-width: 44em;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  align-self: flex-start;
  margin-bottom: 7em;
}
@media screen and (min-width: 1000px) {
  .intro {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 1000px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4em;
  }
  .intro__title {
    max-width: calc(100vmax - 4rem);
  }
  .intro__subtitle {
    max-width: calc(100vmax - 4rem);
  }
  .intro__quote {
    max-width: calc(100vmax - 4rem);
  }
}
@media screen and (max-width: 800px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2em;
    margin-top: 4em;
  }
  .intro__title {
    max-width: calc(100vw - 4rem);
  }
  .intro__subtitle {
    max-width: calc(100vw - 4rem);
  }
  .intro__quote {
    max-width: calc(100vw - 4rem);
  }
}
@media screen and (max-width: 770px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4em;
  }
  .intro__title {
    max-width: calc(100vmax - 4rem);
    font-size: 3rem;
  }
  .intro__subtitle {
    max-width: calc(100vmax - 4rem);

    font-size: 1.5rem;
  }
  .intro__quote {
    max-width: calc(100vmax - 4rem);
    font-size: 1.5rem;
  }
  .intro__footer {
    font-size: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4em;
  }
  .intro__title {
    max-width: calc(100vw - 4rem);
    font-size: 2.5em;
    line-height: 1.2;
  }
  .intro__subtitle {
    max-width: calc(100vmax - 4rem);
    font-size: 1.5rem;
  }
  .intro__quote {
    max-width: calc(100vmax - 4rem);
    font-size: 1.5rem;
  }
  .intro__footer {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .intro {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
