.about {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/__background-Art-Gallery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
  max-width: 1184px;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 200ms ease-in-out;
}
.about:hover::after {
  background-color: #2a2c2f;
  opacity: 0.8;
}
@media screen and (max-width: 785px) {
  .about {
    min-height: 746px;
  }
}

@media screen and (max-width: 520px) {
  .about {
    min-height: 254px;
  }
}
