.city {
  box-sizing: border-box;
  display: grid;
  grid-template: auto auto auto / 28.75rem auto;
  column-gap: 40px;
  row-gap: 48px;
}
.city__header {
  font-size: 72px;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  line-height: 1;
  margin-bottom: 2rem;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}
.city__image {
  grid-column: 1;
  grid-row: 2;
  width: 28.75em;
  height: 28.75em;
  object-fit: cover;
  transition: width 500ms ease-in-out;
}
.city__text {
  position: relative;
  display: block;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 13px;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 21.78px;
  width: 208px;
  height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 1;
  grid-column: 1;
  grid-row: 3/4;
}
.city__text::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.25em;
  background-color: #0278fe;
  width: 248px;
  height: 48px;
  z-index: -1;
  transition: background 300ms ease-in-out;
}
.city__text:hover::before {
  cursor: pointer;
  background: rgba(0, 99, 210, 1);
}
@media screen and (max-width: 1090px) {
  .city {
    padding-left: 24px;
    padding-right: 24px;
  }
  .city__header {
    font-size: 2.8rem;
    line-height: 1;
  }
}

@media screen and (max-width: 930px) {
  .city {
    grid-template: auto 26rem auto / 26rem auto;
  }
  .city__image {
    width: 26rem;
    height: 26rem;
  }
}
@media screen and (max-width: 850px) {
  .city {
    grid-template: auto 23.75rem auto / 23.75rem auto;
  }
  .city__image {
    width: 23.75rem;
    height: 23.75rem;
  }
}

@media screen and (max-width: 785px) {
  .city {
    grid-template: auto 21.5rem auto / 21.5rem auto;
    row-gap: 46px;
    column-gap: 28px;
  }
  .city__header {
    font-size: 42px;
    line-height: 46px;
  }
  .city__image {
    width: 21.5rem;
    height: 21.5rem;
  }
}

@media screen and (max-width: 700px) {
  .city {
    grid-template: auto 19rem auto / 19rem auto;
  }
  .city__image {
    width: 19rem;
    height: 19rem;
  }
}

@media screen and (max-width: 630px) {
  .city {
    grid-template: auto 17rem auto / 17rem auto;
  }

  .city__image {
    width: 17rem;
    height: 17rem;
    transition: width 300ms ease;
    transition: height 300ms ease;
  }
}

@media screen and (max-width: 600px) {
  .city {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .city__header {
    padding: 0 1rem;
    padding-bottom: 30px;
    box-sizing: border-box;
    align-self: flex-start;
    font-size: 2rem;
    line-height: 35px;
  }
  .city__image {
    width: 100%;
    height: 100vw;
  }
  .city__text {
    margin-left: 0;
  }
  .city__text::before {
    width: 288px;
    left: -40px;
  }
}
