.footer__text {
  padding-top: 7.5em;
  padding-bottom: 1.5em;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
}
