.intro {
  align-self: flex-start;
  max-width: 785px;
  margin-top: 5.75em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .intro {
    margin-left: 148px;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .intro {
    margin-top: 4em;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    padding-left: 1rem;
  }
}
