.text {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  margin-top: 240px;
}
.text__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 656;

  padding-bottom: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
}
.text__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  min-height: 66px;
  max-width: 280px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  margin-bottom: 45px;
}
.text__subtitle-seperator {
  display: block;
}
.text__desc {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 21.78px;
  padding-bottom: 58px;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 2;
}
.text__desc::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 0.25em;
  background-color: #0278fe;
  width: 137px;
  height: 48px;
  z-index: -1;
  transition: background 300ms ease-in-out;
}
.text__desc:hover::before {
  cursor: pointer;
  background: rgba(0, 99, 210, 1);
}
@media screen and (max-width: 1000px) {
  .text {
    margin-top: 246px;
  }
}
@media screen and (max-width: 520px) {
  .text {
    margin-top: 46px;
  }
  .text__title {
    font-size: 2rem;
    line-height: 35px;
    padding-bottom: 1rem;
  }
  .text__subtitle {
    font-size: 14px;
    line-height: 1rem;
    margin-bottom: 29px;
    min-height: 48px;
  }
}
