@import "../blocks/page.css";
@import "../blocks/herder.css";
@import "../blocks/header-introduction.css";
@import "../blocks/gallery.css";
@import "../blocks/cities.css";
@import "../blocks/city.css";
@import "../blocks/about.css";
@import "../blocks/footer.css";

@font-face {
  font-family: "Inter-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-3.19/Inter/Web/Inter-Regular.woff2?v")
      format("woff2"),
    url("../fonts/Inter-3.19/Inter/Web/Inter-Regular.woff?v") format("woff");
}

@font-face {
  font-family: "Inter-SemiBold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-3.19/Web/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-3.19/Web/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter-bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-3.19/Web/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-3.19/Web/Inter-Bold.woff") format("woff");
}
